html,
body,
body.login {
/*	background-color: #ddd;*/
	}

#login h1 {
	margin-bottom: 40px;
}

#login h1 a{
	padding:  0px 0px 0px 0px;
	height: 110px;
	width: 202px;
	margin: 0 auto;
}

body.login h1 a {
	background-image: url('../images/logo-head-noir-202px.png');
	background-size: 202px 110px;
	background-position: 0px 0px;
}

