/* @override 
	http://head.hesge.ch/infolab/wp-content/themes/infolab/style.css?ver=4.3
	http://inscriptions:8888/assets/themes/theme-enfant-inscription/style.css?ver=4.8.1 */

/*
Theme Name: HEAD Inscriptions
Theme URI: https://wordpress.com/themes/baskerville/
Template: baskerville
Author: InfoLab HEAD
Author URI: 
Description:
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: tonal
Domain Path: /languages/
Tags: white, black, one-column, responsive-layout, custom-background, custom-colors, custom-header, custom-menu, featured-images, flexible-header, post-formats, rtl-language-support, sticky-post, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Tonal is based on Underscores http://underscores.me/, (C) 2012-2014 Automattic, Inc.

Resetting and rebuilding styles have been helped along thanks to the fine work of
Eric Meyer http://meyerweb.com/eric/tools/css/reset/index.html
along with Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
and Blueprint http://www.blueprintcss.org/
*/


.header {
	padding-bottom: 40px;
}

/* Couleurs Custom InfoLab */

/* Vert = Pantone 3405 / CMJN 85, 0, 65, 0 / RVB 0, 175, 105 = #00AF69 */

body,
.bg-dark,
.footer {
	background: #00AF69;	
}

/* Violet = Pantone Violet C / CMJN 90, 100, 0, 0 / RVB 65, 0, 153 = #410099 */

.footer,
.credits {
	background: #410099;
}

/* Rouge = Pantone Warm Red / / RVB 245, 40, 55 = #f52837 */


body a,
a {
	color: #00AF69;
	font-weight: bold;
}





/* @group Forcer le Blanc */

.bg-dark,
.bg-dark a,
.main-menu > li > a,
.main-menu > li::before,
.credits p {
	color: #fff;
}

.nav-toggle .bar {
	background: #fff;
}

.main-menu > .has-children > a::after, .main-menu > .page_item_has_children > a::after
{
	border-top-color: #fff;
}

/* @end */

.search-toggle {
	-webkit-opacity: 1;
	-moz-opacity: 1;
	opacity: 1;
}

/* Fonts */

html, body,
h1, h2, h3, h4, h5, h6,
.widget-title,
.main-menu,
.credits p {
	font-family: 'Executive', Arial, sans-serif;
	text-transform: none;
}

.blog-title,
.post-header .post-title,
.post-content h1, .post-content h2, 
.post-content h3, .post-content h4, 
.post-content h5, .post-content h6,
.page-title h3
{
	font-family: 'Executive', Arial, sans-serif;
	font-weight: normal;
}

.blog-title {
	letter-spacing: 0.04em;
}
.blog-title a:hover {
	color: #fff;
}

h3.pretty-title,
.post-header .post-title {
	color: #00AF69;
	font-size: 180%;
	text-shadow: 4px 1px 10px rgb(212, 230, 223);
}


body .post-content .frm_style_formidable-style,
.frm_style_formidable-style.with_frm_style label.frm_primary_label, .frm_style_formidable-style.with_frm_style.frm_login_form label,
.frm_style_formidable-style.with_frm_style .frm_radio label, .frm_style_formidable-style.with_frm_style .frm_checkbox label,
.frm_style_formidable-style.with_frm_style p.description, .frm_style_formidable-style.with_frm_style div.description, .frm_style_formidable-style.with_frm_style div.frm_description, .frm_style_formidable-style.with_frm_style .frm-show-form > div.frm_description, .frm_style_formidable-style.with_frm_style .frm_error  {
	font-family: 'Executive', Arial, sans-serif !important;
}

.frm_style_formidable-style.with_frm_style div.frm_description,
.frm_description {
	margin-top: 1em;
}

.main-menu,
.widget-title,
.credits p {
	font-size: 160%;
	text-transform: none;
}

.post-content p {
	line-height: 1.25;
}

.credits p {
	font-size: 100%;
}

.widget-title {
	color: #444;
}

/* @group MENUS */

.main-menu > li > a {
	text-transform: none;
}

.main-menu > li:first-of-type > a {
	padding-left: 0px;
}

.main-menu ul li {
	background: #410099;
}

.main-menu ul a {
	color: #fff;
}

.main-menu > li > ul:before {
	border-bottom-color: #410099;
}

.main-menu .sub-menu {
	font-size: 70%;
}

.menu-admin {
	display: none;
}

.main-menu > :nth-last-child(2):before {
	display: none;
}

/* @end */

.blog-title {
	text-align: left;
	font-size: 5em;
}

.blog-description {
/*	display: none;*/
	color: #fff;
	text-align: left;
	font-size: 2em;
	font-weight: bold;
}

.large-text {
	font-size: 1.3em;
	line-height: 1;
}

.hentry,
.post,
.posts .page,
.sidebar  {
	border-radius: 0px;
}

.mobile-menu {
	background: #00834f;
}

.footer .widget-content p {
	color: #fff;
	font-weight: bold;
}

.footer a .logo-head {
	width: 13em; 
}

.footer a:hover {
	opacity: 0.6;
}

.footer .one-third {
	border-top: 0px;
}

/* Edit-Link */

.single a.post-edit-link,
.single a.post-edit-link:hover {
    background-image: none;
}

@media (max-width: 1000px) {
	
	.mobile-menu a {
	color: #fff;
	font-weight: bold;
	text-transform: none;
	font-size: 100%;
	}
}

/*
 * Page Inscriptions
*/

.header-inscriptions {
	width: 97%;
	margin: 0 1.5% 2em 1.5%;
	text-align: center;
}

.header-inscriptions .post-content {
	padding: 3.33%;
	text-align: center;
}

.header-inscriptions blockquote {
	font-size: 1.5em;
	max-width: 22em;
	margin: 0 auto;
}


@media (max-width: 600px) {
	.header-inscriptions {
		width: 100%;
		margin: 0 0 2em 0;
	}
	.header-inscriptions .post-content {
		padding: 7.5% 6%;
		font-size: 1.5em;
	}
}

/*
 * Boite Formulaire
*/
.tax-filiere .boite-formulaire .post-title {
	font-size: 140%;
}

.ou-et-quand {
	margin: 1em 0;
	border-top: 2px solid #ddd;
	border-bottom: 2px solid #ddd;
	padding: 1em 0;
	
}

.detail-mes-inscriptions .ou-et-quand {
	border-top: 2px solid #00AF69;
	border-bottom: 2px solid #00AF69;
}

.post-content fieldset {
	padding: 0;
	border: 0;
}


.post-content .nombre-inscrits,
.post-container .nombre-inscrits {
	background-color: #00AF69;
	color: #fff;
	font-weight: bold;
	padding: 0.5em 1em;
	margin-bottom: 1em;
}

.post-content .cours-complet,
.post-container .cours-complet {
	background-color: #F52837;
}

.mes-inscriptions-inner {
	border: 5px solid #00AF69;
	padding: 0 2em;
	margin-bottom: 2em;
}

.detail-mes-inscriptions .nombre-inscrits {
	display: none;
}

.frm_forms {
	color: #000;
	font-size: 100%;
}

/* @group Formidable Typography */

/*
 * Formidable Typography
*/


body .post-content .frm_style_formidable-style, .frm_style_formidable-style.with_frm_style label.frm_primary_label, .frm_style_formidable-style.with_frm_style.frm_login_form label, .frm_style_formidable-style.with_frm_style .frm_radio label, .frm_style_formidable-style.with_frm_style .frm_checkbox label, .frm_style_formidable-style.with_frm_style p.description, .frm_style_formidable-style.with_frm_style div.description, .frm_style_formidable-style.with_frm_style div.frm_description, .frm_style_formidable-style.with_frm_style .frm-show-form > div.frm_description, .frm_style_formidable-style.with_frm_style .frm_error {
	font-family: 'Executive', Arial, sans-serif;
}

.frm_style_formidable-style.with_frm_style label.frm_primary_label, 
.frm_style_formidable-style.with_frm_style.frm_login_form {
	font-size: 120%;
	margin-bottom: 1em;
}

.frm_style_formidable-style.with_frm_style .frm_radio label, .frm_style_formidable-style.with_frm_style .frm_checkbox label,
.frm_style_formidable-style.with_frm_style .frm_message {
	font-size: 100%;
}

.tax-filiere .frm_style_formidable-style.with_frm_style fieldset,
.frm_style_formidable-style.with_frm_style,
.boite-formulaire .frm_forms fieldset {
	padding-bottom: 0;
}

.frm_form_fields .frm_ajax_delete,
.frm_style_formidable-style.with_frm_style .frm_submit button {
	font-family: 'Executive', Arial, sans-serif;
	font-size: 120%;
	font-weight: bold;
	background: #00AF69;
	color: #fff;
	border: 0;
	border-radius: 0;
	padding: 6px 11px;
	margin: 10px 0;
	cursor: pointer;
	text-align: center;
	display: inline-block;
}

.tax-filiere .frm_form_fields .frm_ajax_delete,
.tax-filiere .frm_style_formidable-style.with_frm_style .frm_submit button {
	margin: 10px 0 0 0;
}

.frm_form_fields .frm_ajax_delete {
	width: auto;
	background-color: #666;
	font-size: 100%;
}

.frm_form_fields .frm_ajax_delete:hover,
.frm_style_formidable-style.with_frm_style .frm_submit button:hover {
	background: #000;
	color: #fff;
	text-decoration: none;
}


/* Messages d'erreur */

.frm_style_formidable-style.with_frm_style .frm_error_style {
	font-size: 1em;
	font-weight: 700;
	line-height: 1.2;
	border-radius: 0;
	border: 2px solid #B94A48;	
}

/*
 * Astuce: masquer le bouton SUBMIT si le bouton DELETE est présent:
*/

.frm_form_fields .frm_ajax_delete + .frm_submit {
	display: none;
}

.frm_form_fields .frm-loading-img + .frm_submit {
	display: none;
}

/*
 * Astuce: masquer le bouton SUBMIT si le quota est atteint:
*/

.reached-limit .frm_form_fields .frm_submit {
	display: none;
}

/*
 * Astuce: masquer le bouton frm_ajax_delete si les inscriptions sont fermées
*/

.inscriptions-fermees .frm_ajax_delete {
	display: none;
}

/*
 * Sauf pour le staff:
*/

.user-is-staff .frm_ajax_delete {
	display: block;
}

/* @end */

